@model AppLojaBoa.Models.Produto
@{
    ViewBag.Title = "Produto";
}

<h2>Produto</h2>
<div class="textorosa">
    <p>@Model.ProdID</p>
    <p>@Model.ProdNome</p>
    <p>@Model.ProdValor</p>
    <p>@Model.ProdQtd</p>
    <p>@Model.ProdVencimento</p>
</div>

